.content_categories_title {
  padding: 0.4em;
  font-size: 3em;
  color: #558f6b;
  /* background-color: red; */
  height: 15%;
}

.content_categories_blocks {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  overflow: auto;
  height: 80%;
}

.content_categories_blocks ul {
  list-style: circle;
  letter-spacing: 0.72px;
  margin: 0 auto;
  padding: 0 3em;
  height: 100%;
}

.content_categories_blocks li {
  text-align: left;
  margin-bottom: 1em;
}
