.nav_bar {
  /* background-color: blue; */
  height: 100vh;
  width: 12%;
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: fixed;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.logo-container {
  width: 90%;
  text-align: center;
}

#logoMoblie {
  /* background-color: red; */
  max-width: 100%;
  max-height: auto;
  margin: 1em 0;
}

/* #logoMoblie {
  margin-bottom: 1.8em;
  max-width: 100%;
  height: auto;
} */

.menu_element {
  color: #558f6b;
  font-size: 1.2em;
  margin: 1em 0;
  width: 100%;
  text-decoration: none;
  margin-left: 2.8em;

  display: flex;
  align-items: center;
  letter-spacing: 0.07em;
}

.menu_element img {
  margin-right: 0.3em;
}

.menu_element:visited {
  text-decoration: none;
  color: #558f6b;
}
.menu_element:hover {
  text-decoration: none;
  color: #558f6b;
}
.menu_element:focus {
  text-decoration: none;
  color: #558f6b;
}
.menu_element:active {
  text-decoration: none;
  color: #558f6b;
}

#logoutButton {
  position: absolute;
  bottom: 0;
}
