.categoryName {
  height: 10%;
  width: 95%;

  font-size: 3em;
  align-items: center;
  display: flex;
  margin: 0;
  color: #558f6b;
}
.categoryBooks {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
  gap: 16px;
  overflow: auto;
  height: 85%;
}
