.content_main_right {
    height: 78vh;
    width: 15vw;
    margin-left: 1em;
    padding: 1em;

    border-radius: 0.8em;
    border: 1px solid rgba(154, 154, 154, 0.40);
    background: #F3EEEE;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.content_main_right_bottom {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.content_main_right_bottom img {
    margin: 0;
    max-height: 25em;
    width: fit-content;
    align-items: center;
}

.content_main_right_bottom_photo {
    text-align: center;
    margin-top: 1.3em;
}

.content_main_right_bottom_horizontal {
    width: 80%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.content_main_right_bottom_horizontal h1 {
    margin-top: 1em;
    font-size: 1.5em;
    text-align: center;
}

 .content_main_right_bottom_horizontal h2 {
    font-size: 1.4em;
    margin-top: 0.2em;
    text-align: center;
}

 .content_main_right_bottom_horizontal h3 {
    font-size: 1em;
    margin-top: 2em;
    text-align: center;
}

.ustaw {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}
